@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('subset-PFDinTextCompPro-Medium.eot');
    src: local('PFDinTextCompPro-Medium'),
        url('subset-PFDinTextCompPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('subset-PFDinTextCompPro-Medium.woff2') format('woff2'),
        url('subset-PFDinTextCompPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

